<div class="formula <%= cycle 'even', 'odd' %><%= ' removed' if formula.removed? %>">
  <%= formula_link formula %><br>
  <%= formula.description %><br>
  Current version: <strong class="version spec-<%= formula.best_spec %>">
    <%= formula.version %>
  </strong>
</div>
