<tr class="formula <%= cycle 'even', 'odd' %><%= ' removed' if formula.removed? %>">
  <td><%= formula_link formula %></td>
  <td><span class="spec-<%= formula.best_spec %>"></td>
  <td>
    <strong class="version">
      <%= formula.version %><%= "_#{formula.revision}" if formula.revision > 0 %>
    </strong>
  </td>
  <td class="desc"><%= formula.description %></td>
</tr>
