<div class="show">
  <h1><%= @formula.name %></h1>
  <% unless all? %>
    <div class="subtitle">in <%= link_to name, letter_repository_formulae_path(@repository, @repository.first_letter), class: 'repo' %></div>
  <% end %>

  <div id="basic">
    <% unless @formula.description.nil? %>
      <div id="description"><%= @formula.description %></div>
    <% end %>

    <% unless @formula.homepage.nil? %>
      <span><em><%= link_to @formula.homepage, @formula.homepage %></em></span>
    <% end %>

    <% unless (@formula.aliases || []).empty? %>
      Also known as: <strong><%= safe_join @formula.aliases, '</strong>, <strong>'.html_safe %></strong><br>
    <% end %>

    <% if @formula.keg_only? %>
      <strong>This formula is <abbr title="A keg-only formula won't be symlinked automatically.">keg-only</abbr>.</strong><br>
    <% end %>

    <h2<% if @formula.removed? %>class="removed"<% end %>>
      <% if @formula.removed? %>
        Formula was removed<br>
      <% end %>
      <%= t ".versions#{'.removed' if @formula.removed? }", count: @formula.versions.size %>
      <table class="versions">
        <% unless @formula.stable_version.nil? %>
          <tr>
            <td><span class="spec-stable"></td>
            <td><strong class="version"><%= @formula.stable_version %></strong></td>
          </tr>
        <% end %>
        <% unless @formula.devel_version.nil? %>
          <tr>
            <td><span class="spec-devel"></td>
            <td><strong class="version"><%= @formula.devel_version %></strong></td>
          </tr>
        <% end %>
        <% unless @formula.head_version.nil? %>
          <tr>
            <td><span class="spec-head"></td>
            <td><strong class="version"><%= @formula.head_version %></strong></td>
          </tr>
        <% end %>
      </table>
    </h2>
    <% if @formula.revision > 0 %>
      <h2>Revision: <%= @formula.revision %></h2>
    <% end %>
  </div>

  <% deps = @formula.deps.reject { |formula| formula.removed? } %>
  <% unless deps.empty? %>
    <div id="deps">
      <%= t '.deps_html', name: @formula.name, count: @formula.deps.size %>

      <table>
        <%= render partial: 'formula', collection: deps %>
      </table>
    </div>
  <% end %>

  <% reset_cycle %>

  <% revdeps = @formula.revdeps.reject { |formula| formula.removed? } %>
  <% unless revdeps.empty? %>
    <div id="revdeps">
      <h2>Reverse dependencies</h2>
      <%= t '.revdeps_html', name: @formula.name, count: @formula.revdeps.size %>
      <table>
        <%= render partial: 'formula', collection: revdeps %>
      </table>
    </div>
  <% end %>

  <% unless @revisions.empty? %>
  <div id="history">
    <h2>Recent formula history</h2>
    <table>
    <% @revisions.each_with_index do |rev, i| %>
      <tr<% if i == 0 %> class="current"<% end %>>
        <td class="author">
          <%= formula_diff_link @formula, rev %>
          <%= rev.author.name %></td>
        <td class="subject">
          <%= formula_diff_link @formula, rev %>
          <%= rev.subject %>
        </td>
        <td class="date">
          <%= formula_diff_link @formula, rev %>
          <%= timestamp rev.date %>
        </td>
      </tr>
    <% end %>
    <tr class="history-link">
      <td colspan="3">
        <%= history_link @formula %>
      </td>
    </tr>
    </table>
  </div>
  <% end %>

  <br>

  <%= code_link @formula, @revisions.first %> at GitHub
</div>
